*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Poppins', san-serif;
	scroll-behavior: smooth;
}

body, html{
	background:#f9f9f9;
	min-width:100%;
	min-height: 100vh;
	overflow-x: hidden;
}

/*loading style and loading fade away*/
.loader{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height:100vh;
	display:flex;
	align-items: center;
	justify-content: center;
	background:#f9f9f9;
	transition: opacity 2s, visibility 2s;
}

.loader::after{
	content:"";
	width: 75px;
	height:75px;
	border: 15px solid #000;
	border-top-color:#ffc4d1;
	border-radius:50%;
	animation-name: loading;
	animation-duration:1s;
	animation-timing-function: ease-in;
	animation-iteration-count:infinite;
}

@keyframes loading{
	from{
		transform:rotate(0turn);
	}
	to{
		transform: rotate(1turn);
	}
}

.loader--hidden{
	opacity:0;
	visibility:hidden;
}

/*navagation bar style*/
.navagation{
	position:relative;
	top:0;
	left:0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index:100;
	animation-name: pic-animation;
	animation-duration: 1s;
	animation-timing-function:ease-out;
	transition: all 1s;
}

.logo{
	width: 60px;
	height: 60px;
	transition: all 1s;
	cursor: pointer;
}

.logo:hover{
	transform:translateY(5px);
}

.infor a{
	text-decoration: none;
	font-size: 18px;
	color: #000;
	padding: 6px 20px;
	border-radius:20px;
	border-width:1px;
	margin: 0 10px;
	font-weight: 600;
	transition:all 1s;
}

.infor .chat-icon{
	border-style: solid;
}

.infor a:hover{
	background-color:#000;
	color: white;
}

.infor a:active{
	background: #359381;
	color:#fff;
}


/*content pages style*/
section{
	min-height: 100vh;
}

.intro{
	position:relative;
	text-align:right;
	margin-top:250px;
	right:8%;
}

.intro #hero-img{
	position: absolute;
	left:20%;
	top:-250px;
	animation-name: pic-animation;
	animation-duration: 1.5s;
	animation-timing-function:ease-out;
	transition: all 1s;
}

.intro #sketch-img{
	position: absolute;
	left:80%;
	top:-120px;
	height: 300px;
	width:300px;
}

.intro #scroll-img{
	position: absolute;
	left:65%;
	top:200px;
	height: 100px;
	width:100px;
}

.intro .watermark{
	position:absolute;
	top:600px;
	left:30%;
	opacity:30%;
}

.intro .watermark p{
	font-size: 15em;
	color:lightgray;
	transform: rotate(30deg);
	-webkit-transform:rotate(30deg);
}

@keyframes pic-animation{
	from{
		transform:translateX(-30px);
	}
	to{
		transform:translateX(0px);
	}
}

.intro .intro-text{
	position: absolute;
	right:0%;
	top:-100px;
	z-index:99;
	color:#000;
	text-shadow:1px 1px 2px #fff;
}

.intro h2{
	font-size:2em;
	animation-name: text-animation;
	animation-duration: 1.5s;
	animation-timing-function:linear;
}

.intro h1{
	font-size: 3em;
	animation-name: text-animation;
	animation-duration: 1.5s;
	animation-timing-function:linear;
}

.intro h6{
	animation-name: text-animation;
	animation-duration: 1.5s;
	animation-timing-function:linear;
}

.intro h5{
	animation-name: text-animation;
	animation-duration: 1.5s;
	animation-timing-function:linear;
}

.option-section{
	margin-top:10px;
}


/*button syle and hover effects*/
.button1{
	background-color:#ffc4d1;
	color: #000;
	margin-right:10px;
	font-size: 16px;
	border-radius: 10px;
	border-style: solid;
	border-color: #fbcbb3;
	border-width:0.5px;
	box-shadow: 1px 1px 2px #a4bfb5;
	height: 40px;
	width: 110px;
	cursor: pointer;
	animation-name: text-animation;
	animation-duration: 1.5s;
	animation-timing-function:linear;
	transition: transform 0.5s;
}

.button1:hover{
	transform:translateY(5px);
	cursor: pointer;
}

.button2{
	background-color:transparent;
	color: #000;
	margin-right:10px;
	font-size: 16px;
	border-radius: 10px;
	border-style: solid;
	border-color: #000;
	border-width:0.5px;
	box-shadow: 1px 1px 2px #a4bfb5;
	height: 40px;
	width: 110px;
	cursor: pointer;
	animation-name: text-animation;
	animation-duration: 1.5s;
	animation-timing-function:linear;
	transition: transform 0.5s;
}

.button2:hover{
	transform:translateY(5px);
	cursor:pointer;
}

/*loading effect for hero section*/
@keyframes text-animation{
	from{
		transform: translateY(150px);
		opacity: 0;
	}
	to{
		transform: translateY(0px);
		opacity: 1;
	}
	
}

/*skill-section layout*/
#contents{
	display:flex;
	justify-content: center;
	align-items: center;
}

section:nth-child(1){
	color: #f9f9f9;
  }
section:nth-child(2){
	color: black;
	background: #f9f9f9;
} 
section:nth-child(3){
	color: black;
}
section:nth-child(4){
	color: #black;
	background: #f9f9f9;
}
section .container{
	margin: 100px;
}
#contents h1{
	font-size: 3rem;
}
#contents h2{
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
}
#contents .text-container{
	display: flex;
	border-bottom-style:solid;
	border-top-style: solid;
	border-width:0.5px;
}
#contents .text-container .text-box{
	margin: 20px;
	padding: 20px;
	background: #black;
	border-right-style: solid;
	border-width:0.5px;
}
#contents .text-container .text-box h3{
	font-size: 30px;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 10px;
}


/*project section style*/
#project{
	display:flex;
	text-align:left;
	justify-content:center;
	align-items: center;
}

#project .text-container{
	display: flex;
	border-width:0.5px;
}
#project .text-container .text-box{
	margin: 20px;
	padding: 20px;
	background: #black;
	border-left-style: solid;
	border-width:0.5px;
}

#project h2{
	font-size: 4em;
}
#project span{
	text-decoration:underline;
}

#hand-draw{
	position:absolute;
	width: 100%;
	top:1700px;
	left:100px;
	opacity:15%;
}

/*social media style*/
.social-media{
	display:flex;
	flex-direction:column;
	gap:25px;
	position:fixed;
	right:50px;
	bottom: 50px;
}

.social-media a{
	text-align: left;
	text-decoration:none;
	font-size:16px;
	color:#000;
	width:100px; 
	border-top-style: solid;
	border-bottom-style: solid;
	border-width:0.5px;
	border-radius: 10px;
	transform: translateX(110px);
	transition: all 1s;
}

.social-media span{
	opacity:0;
	transition:all 0.5s;
}

.social-media a:hover{
	transform:translateX(60px);
	color:#ff5757;
}

.social-media span:hover{
	opacity:1;
}

/*work#1 style*/

#work1 h1{
	font-size:4em;
}

/*work2 style*/
#work2{
	text-align: right;
}

#work2 h1{
	font-size:4em;
}

/*work3 style*/
#work3 h1{
	font-size:4em;
}

/*contact form style*/
#contact h1{
	font-size:4em;
}


/*work pics layout*/
#wlotus-phone{
	position:absolute;
	top:2500px;
	left:500px;
	animation-name: moving-around;
	animation-duration:10s;
	animation-timing-function: ease-in;
	animation-iteration-count:infinite;
	transition: all 10s;
}

#dental-laptop{
	position:absolute;
	top:3300px;
	left:100px;
	animation-name: moving-around;
	animation-duration:10s;
	animation-timing-function: ease-in;
	animation-iteration-count:infinite;
	transition: all 10s;
}

#fabs-laptop{
	position:absolute;
	top:4100px;
	left:600px;
	animation-name: moving-around;
	animation-duration:10s;
	animation-timing-function: ease-in;
	animation-iteration-count:infinite;
	transition: all 10s;
}

#leaf-blob{
	position:absolute;
	width: 100px;
	height:100px;
	top:4730px;
	left:380px;
}

#ending{
	position:absolute;
	font-size: 10em;
	color: lightgray;
	top:4800px;
	left:500px;
	transform:rotate(20deg);
	opacity:30%;
}

@keyframes moving-around{
	0%{transform:translateY(-15px);}
	25%{transform:translateY(0px);}
	50%{transform:translateY(15px);}
	75%{transform:translateY(0px);}
	100%{transform:translateY(-15px);}
}

/*Contact form style*/

#contact{
	height:100vh;
}

#contact form{
	display:flex;
	flex-direction:column;
	width: 40%;
	margin:100px;
	margin-top:-30px;
}

#contact a{
	text-decoration:none;
	font-style:italic;
	color:#cc00cc;
	transition:all 0.5s;
}

#contact a:hover{
	color:#ff4dff;
}

#contact a:active{
	color:#1a001a;
}

.input{
	color:#000;
	font-weight:500;
	font-size: 18px;
	border-radius: 5px;
	line-height: 22px;
	background-color: transparent;
	border:2px solid #000;
	transition: all 0.3s;
	padding: 13px;
	margin-bottom: 15px;
	width:100%;
	box-sizing: border-box;
	outline:0;
}

input[type=submit]{
	background-color:#ffc4d1;
	color: #000;
	margin-right:10px;
	font-size: 16px;
	border-radius: 10px;
	border-style: solid;
	border-color: #fbcbb3;
	border-width:0.5px;
	box-shadow: 1px 1px 2px #a4bfb5;
	height: 40px;
	width: 110px;
	cursor: pointer;
	animation-name: text-animation;
	animation-duration: 1.5s;
	animation-timing-function:linear;
	transition: transform 0.5s;
}

input[type=submit]:hover{
	transform:translateY(5px);
	cursor:pointer;
}
/*RESPONSIVE implementation*/
@media (max-width:700px){
	
	body,html{
		min-width:100%;
	}
	
	.infor{
		text-align: center;
	}
	
	.intro .watermark{
		top:800px;
		left:140px;
	}
	
	.intro .watermark p{
		font-size:8em;
	}
	
	.intro-text{
		margin-top:170px;
	}
	
	.navagation{
		display:block;
		position:relative;
	}
	
	.infor a{
		display:block;
		margin-top:10px;
	}
	.logo{
		position:relative;
		left:40%;
	}
	
	.intro{
		text-align:center;
		margin-top: 50px;
	}
	
	.intro .intro-text{
		right: 50px;
	}
	
	.intro #hero-img{
		visibility:hidden;
	}
	
	.intro #work-img{
		visibility:hidden;
	}
	
	.intro #sketch-img{
	 left:160px;
	 top:50px;
	}
	
	.intro #scroll-img{
		top: 400px;
	}
	
	.intro h1{
		font-size: 2rem;
		text-align: center;
	}
	#contents .text-container{
		flex-direction: column;
	}
	
	#project .text-container{
		flex-direction: column;
	}
	
	#hand-draw{
		top:2500px;
		width:100%;
		left:0px;
	}
	
	#work1 h1{
		font-size:3em;
	}
	
	#work2 h1{
		font-size:3em;
	}
	
	#work3 h1{
		font-size:3em;
	}
	
	#wlotus-phone{
		width:50%;
		height:40%;
		top:3700px;
		left:-100px;
	}
	
	#dental-laptop{
		width:50%;
		height:40%;
		top:4600px;
		left:100px;
	}
	
	#fabs-laptop{
		width:50%;
		height:40%;
		top:5200px;
		left:200px;
	}
	
	#contactForm{
		width:100%;
		left:0px;
	}
	
	#ending{
		visibility:hidden;
	}
	
	#leaf-blob{
		visibility:hidden;
	}
}

/*scroll style effects*/
.reveal{
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: 1s all ease;
	}

.reveal.active{
	transform: translateY(0);
	opacity: 1;
	}
