*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Poppins', san-serif;
	scroll-behavior: smooth;
}

body, html{
	background:#f9f9f9;
	min-height: 100vh;
	min-width:100%;
}

/*loading style and loading fade away*/
.loader{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height:100vh;
	display:flex;
	align-items: center;
	justify-content: center;
	background:#f9f9f9;
	transition: opacity 2s, visibility 2s;
}

.loader::after{
	content:"";
	width: 75px;
	height:75px;
	border: 15px solid #000;
	border-top-color:#A2B167;
	border-radius:50%;
	animation-name: loading;
	animation-duration:1s;
	animation-timing-function: ease-in;
	animation-iteration-count:infinite;
}

@keyframes loading{
	from{
		transform:rotate(0turn);
	}
	to{
		transform: rotate(1turn);
	}
}

.loader--hidden{
	opacity:0;
	visibility:hidden;
}

/*navagation bar style*/
.navagation{
	position:relative;
	top:0;
	left:0%;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index:100;
	animation-name: pic-animation;
	animation-duration: 1s;
	animation-timing-function:ease-out;
	transition: all 1s;
}

.logo{
	width: 60px;
	height: 60px;
	transition: all 1s;
	cursor: pointer;
}

.logo:hover{
	transform:translateY(5px);
}

.infor a{
	text-decoration: none;
	font-size: 18px;
	color: #000;
	padding: 6px 20px;
	border-radius:20px;
	border-width:1px;
	margin: 0 10px;
	font-weight: 600;
	transition:all 1s;
}

.infor .chat-icon{
	border-style: solid;
}

.infor a:hover{
	transform: translateY(2px);
}

.infor a:active{
	background: #359381;
	color:#fff;
}


/*content pages style*/
section{
	min-height: 100vh;
}

.intro{
	position:relative;
	text-align:right;
	margin-top:250px;
	right:8%;
}

.intro .intro-text{
	position: absolute;
	right:0%;
	top:-100px;
	z-index:99;
	color:#000;
	text-shadow:1px 1px 2px #fff;
}

.intro h2{
	font-size:calc(3em - 2vw);
	animation-name: text-animation;
	animation-duration: 1.5s;
	animation-timing-function:linear;
	margin-top: 5px;
	margin-bottom: 30px;
	text-decoration: underline;
	text-decoration-color: #A2B167;
}

.intro h1{
	font-size: calc(4em - 2vw);
	animation-name: text-animation;
	animation-duration: 1.5s;
	animation-timing-function:linear;
}

.intro h6{
	animation-name: text-animation;
	animation-duration: 1.5s;
	animation-timing-function:linear;
}

.intro h5{
	animation-name: text-animation;
	animation-duration: 1.5s;
	animation-timing-function:linear;
	font-style: italic;
}


.option-section{
	margin-top:20px;
}


/*button syle and hover effects*/
.button1{
	background-color:#A2B167;
	color: #000;
	margin-right:10px;
	font-size: 16px;
	border-radius: 10px;
	border-style: none;
	border-color: #7F7F3E;
	border-width:0.5px;
	box-shadow: 1px 1px 2px #a4bfb5;
	height: 40px;
	width: 110px;
	cursor: pointer;
	animation-name: text-animation;
	animation-duration: 1.5s;
	animation-timing-function:linear;
	transition: transform 0.5s;
}

.button1:hover{
	transform:translateY(5px);
	cursor: pointer;
}

.button2{
	background-color:transparent;
	color: #000;
	margin-right:10px;
	font-size: 16px;
	border-radius: 10px;
	border-style: solid;
	border-color: #000;
	border-width:0.5px;
	box-shadow: 1px 1px 2px #a4bfb5;
	height: 40px;
	width: 110px;
	cursor: pointer;
	animation-name: text-animation;
	animation-duration: 1.5s;
	animation-timing-function:linear;
	transition: transform 0.5s;
}

.button2:hover{
	transform:translateY(5px);
	cursor:pointer;
}

.button-project{
	display: flex;
	text-align: left;
	justify-content: start;
	gap:10px;
	align-items: center;
	background-color:transparent;
	color: #000;
	margin-top: 10px;
	font-size: 16px;
	border-style: solid;
	border-left-style: none;
	border-width: 1px;
	height: 40px;
	width: 95px;
	cursor: pointer;
}

.button-project ion-icon{
	font-size: 24px;
}

.button-project b{
	text-decoration: underline;
}

/*loading effect for hero section*/
@keyframes text-animation{
	from{
		transform: translateY(150px);
		opacity: 0;
	}
	to{
		transform: translateY(0px);
		opacity: 1;
	}
	
}

/*skill-section layout*/
#contents{
	display:flex;
	justify-content: center;
	align-items: center;
}

section:nth-child(1){
	color: #f9f9f9;
  }
section:nth-child(2){
	color: black;
	background: #f9f9f9;
} 
section:nth-child(3){
	color: black;
}
section:nth-child(4){
	color: black;
	background: #f9f9f9;
}
section .container{
	margin: 100px;
}
#contents h1{
	font-size: 3rem;
}
#contents h2{
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
}
#contents .text-container{
	display: flex;
	border-bottom-style:solid;
	border-top-style: solid;
	border-width:0.5px;
}
#contents .text-container .text-box{
	margin: 20px;
	padding: 20px;
	background: #f9f9f9;
	border-right-style: solid;
	border-width:0.5px;
}
#contents .text-container .text-box h3{
	font-size: 30px;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 10px;
	text-decoration: underline;
	text-decoration-color: #A2B167;
}


/*project section style*/
#project{
	display:flex;
	text-align:left;
	justify-content:center;
	align-items: center;
}

#project .text-container{
	display: flex;
	flex-wrap: wrap;
	border-width:0.5px;
}

#project .text-container .text-box{
	margin: 20px;
	padding: 20px;
	background: #f9f9f9;
	border-left-style: solid;
	border-width:0.5px;
	max-width: 380px;
}

#project h2{
	font-size: 4em;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: #A2B167;
}
#project span{
	text-decoration:underline;
	text-decoration-color: #A2B167;
}

#project img{
	max-width: 280px;
	height:auto;
	border-style: solid;
	border-width: 0.5px;
}

/*project section's made-by icons*/
.made-icon{
	margin-top: 20px;
	display: flex;
	gap:5px;
}

.made-icon i{
	width: 30px;
	height: auto;
}

.html{
	color:red;
}

.css{
	color:blue;
}

.js{
	color:#FFCC34;
}

.slash{
	font-size: 12px;
}

.word-icon1{
	font-size:12px;
	font-weight: bold;
}

.word-icon2{
	font-size:12px;
	font-weight: bold;
	color:brown;
}

.react{
	color:#6B8EE8;
}

/*social media style*/
.social-media{
	display:flex;
	flex-direction:column;
	gap:25px;
	position:fixed;
	right:50px;
	bottom: 50px;
}

.social-media a{
	text-align: left;
	text-decoration:none;
	font-size:16px;
	color:#000;
	width:100px; 
	border-top-style: solid;
	border-bottom-style: solid;
	border-width:0.5px;
	border-radius: 10px;
	transform: translateX(110px);
	transition: all 1s;
}

.social-media span{
	opacity:0;
	transition:all 0.5s;
}

.social-media a:hover{
	transform:translateX(60px);
	color:#7F7F3E;
}

.social-media span:hover{
	opacity:1;
}

/*contact form style*/
#contact h1{
	font-size: 4em;
}
#contact h1 span{
	text-decoration: underline;
	text-decoration-color: #A2B167;
}


/*Contact form style*/

#contact{
	width:80%;
	height:auto;
}

#contact form{
	display:flex;
	flex-direction:column;
	width: 40%;
	margin:100px;
	margin-top:-30px;
}

#contact a{
	font-size: 16px;
	font-style:italic;
	color:#A2B167;
	transition:all 0.5s;
}

#contact a:hover{
	color:#48621F;
}

#contact a:active{
	color:#1a001a;
}

.input{
	color:#000;
	font-weight:500;
	font-size: 18px;
	border-radius: 5px;
	line-height: 22px;
	background-color: transparent;
	border:2px solid #000;
	transition: all 0.3s;
	padding: 13px;
	margin-bottom: 15px;
	width:100%;
	box-sizing: border-box;
	outline:0;
}

input[type=submit]{
	background-color:#A2B167;
	color: #000;
	margin-right:10px;
	font-size: 16px;
	border-radius: 10px;
	border-style: none;
	border-width:0.5px;
	box-shadow: 1px 1px 2px #a4bfb5;
	height: 40px;
	width: 110px;
	cursor: pointer;
	animation-name: text-animation;
	animation-duration: 1.5s;
	animation-timing-function:linear;
	transition: transform 0.5s;
}

input[type=submit]:hover{
	transform:translateY(5px);
	cursor:pointer;
}

/**/
/*Intersection image*/
.landing-image img{
	width: 50%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0%, -50%);
}

.contact-img{
	position:relative;
}

.contact-img img{
	position:absolute;
	width: 40%;
	height:auto;
	right: 8%; /* Adjust the fixed value and subtract half of the image width */
  bottom: 0%; /* Adjust the fixed value and subtract half of the image height */
	transform: translate(0%, -50%) skewX(-5deg);
}

/*RESPONSIVE implementation*/

/*reduced screen on desktop compability*/
@media (max-width:700px){
	
	body,html{
		width:100%;
	}
	
	.infor{
		text-align: center;
		flex-direction: column;
	}
	
	
	.intro-text{
		margin-top:170px;
	}
	
	.navagation{
		display:block;
		position:relative;
	}
	
	.infor a{
		display:block;
		margin-top:10px;
	}
	.logo{
		position:relative;
		left:40%;
	}
	

	.intro{

		margin-top: 50px;
	}
	
	.intro .intro-text{
		right: 50px;
	}
	
	.intro h1{
		font-size: 1.1em;
	}

	.intro h2{
		font-size: 1.6em;
	}

	.intro h5{
		font-size: 12px;
	}

	.landing-image img{
		top: 1000px;
		width:90%;
	}

	#contents .text-container{
		flex-direction: column;
	}
	
	#project .text-container{
		flex-direction: column;
	}

	.button-project{
		border-color: #000;
	}

	.button-project b{
		font-size: 14px;
	}

	.contact-img img{
		transform: translate(0%, -350%) skewX(-5deg);
	}
}

/*scroll style effects*/
.reveal{
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: 1s all ease;
	}

.reveal.active{
	transform: translateY(0);
	opacity: 1;
	}