@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', san-serif;
	scroll-behavior: smooth;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
  font-family:'Poppins', san-serif;
}

.thank-you-container {
  text-align: center;
}

.thank-you-container img {
  max-width: 450px;
}

.thank-you-heading {
  font-family: 'Sacramento', cursive;
  color:#A2B167;
  font-size: 56px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.subtitle {
  font-family: 'Roboto', cursive;
  color:#000;
  font-size: 24px;
  margin-top: 10px;
  max-width: 800px;
}

.subtitle span{
  text-decoration: underline;
	text-decoration-color: #A2B167;
}

.paragraph {
  color:#000;
  font-size: 18px;
  margin-top: 10px;
  max-width: 800px;
}

.btn-back {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: transparent;
  color:#A2B167;
  border-style: solid;
  border-radius: 5px 10px;
  border-width: 1px;
  border-color: #5c6224;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.5s ease-in;
}

.btn-back:hover{
  transform: translateY(3px);
}

.container-underline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.underline-ty{
  background-color: #000;
  height: 2px;
  width: 50px;
  border-radius: 10px;
  margin-top: 20px;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color:#000;
}

.social-icon {
  display: inline-block;
  margin: auto;
  font-size: 24px;
  color: #000;
  margin-right: 20px;
  margin-left: 20px;
  transition: all 0.5s ease-in;
}

.social-icon:hover{
  transform: translateY(3px);
}

/* Font Awesome Icons */
.fa-facebook-square {
  color: #3b5998;
}

.fa-linkedin-square {
  color: #1da1f2;
}

.fa-github{
  color: #000;
}

@media (max-width: 768px) {
  .thank-you-container img{
    max-width: 300px;
  }
  
  .thank-you-heading{
    font-size: 48px;
  }

  .subtitle{
    font-size:20px;
  }

  .paragraph{
   width: 400px;
   font-size: 14px;
  }
}